@import "@/assets/fonts/style.css";

:root {
  --color-white:      #FFFFFF;

  --color-grey100:    #2e3035;

  --color-dark50:    #1d1e20;
  --color-dark100:    #141414;

  --color-orange100:  #f26e36;

  --navbar-show:      0 2px 6px 0 rgba(0,0,0,0.15);

  --container-width:  1240px;
  --container-indent: calc(50% - var(--container-width) / 2);

  --border-rd-md:     8px;
  --border-rd-lg:     12px;
}

@media (max-width: 1240px) {
  :root {
    --container-indent: 24px;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: color .2s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 400;
  background-color: var(--color-dark100);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

svg {
  transition: fill .2s, transform .2s;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  display: block;
}

input {
  border: none;
  outline: none;
}

textarea {
  font-size: inherit;
  border: none;
  resize: none;
  background: none;
}

i {
  font-style: normal;
}

.container {
  padding-right: var(--container-indent);
  padding-left: var(--container-indent);
}

.grid-row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

:focus::-webkit-input-placeholder {
  color: transparent
}

:focus::-moz-placeholder {
  color: transparent
}

:focus:-moz-placeholder {
  color: transparent
}

:focus:-ms-input-placeholder {
  color: transparent
}