.hero {
  display: grid;
  grid-row-gap: 40px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero__headline {
  margin-bottom: 24px;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-white);
}

.hero__description {
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
}

.form {
  grid-template-columns: 1fr 190px;
  grid-column-gap: 8px;
}

.form__content {
  grid-column-gap: 4px;
}

.form__item:first-child {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.form__item:first-child input {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.form__item:last-child {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.form__button {
  height: 100%;
  background: var(--color-orange100);
}

.hero-error {
  display: grid;
  justify-content: center;
  grid-row-gap: 12px;
  padding: 12px 0;
}

.hero-error__headline {
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: var(--color-orange100);
}

.hero-error__description {
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  color: var(--color-orange100);
  opacity: .5;
}